@import '~antd/dist/antd.dark.css';

[data-theme='compact'] .ant-drawer-body p {
    margin-bottom: 0;
}
.gutter-row {
    padding: 8px 0;
}
.margin-auto {
    margin:auto;
}
.link-page {
    margin-top: 2%;
}
.page-header {
    margin-bottom: 4%;
}
.task-page {
    margin-top: 2%;
    text-align: center;
}
.tag-space {
    padding-top: 3%;
}
.task-description {
    padding-bottom: 3%;
}
.task-card {
    margin: 1%;
    width: 100%;
}
.centered {
    text-align: center;
}
.task-button {
    margin: 1%;
    text-align: center;
}
.collapse-card-title {
    font-weight: bold;
    font-size: larger;
}
.checked-collapse {
    background-color: #030852;
    text-decoration: line-through;
}
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header {
    color: white;
    cursor: auto;
}
.ant-checkbox-group {
    min-width: 100%;
}
.ant-checkbox-group-item {
    padding: 1%;
}
.ant-col-fix {
    padding: 12px;
}

/* Cards */
.category-card {
    margin: 1% 0;
}

/* Checkbox Classes */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}
.checkbox-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}
.checkbox-image {
    max-width: 64px;
}
.checkbox-label {
    padding: 2%;
    font-weight: normal;
}

/* Splash CSS */
.splash-box {
    padding-top: 10%;
}
.box-button {
    padding: 1% 2%;
    color: black;
    font-weight: 600;
}
.checkbox-bg input[type='checkbox'] {
    background-color: white;
    opacity: 1;
}

.header {
    padding: 0.25% 1%;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    max-height: 80%;
}
.logo-block {
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-text {
    display: flex;
    align-items: center;
}
.header-text {
    color: white;
    padding: 0 .5%;
}
.header-text:hover{
    color: white;
    text-decoration: underline;
    padding: 0 .5%;
}
.avatar-block {
    padding: 0.25% 0;
}
.avatar-username {
    padding: 0 1rem;
    /* padding-right: 1rem; */
    color: white;
}

/* Links */
.link-button {
    margin: 3%;
}

/* List Styles */
.list-box {
    padding: 10%;
    width: 100% !important;
}
.parent-list {
    text-align: left;
}
.child-list {
    /* margin-left: 50px; */
    margin-bottom: 1.5em;
}
.child-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0.5em 0;
    background-image: linear-gradient(to top, #4299e1, #90cdf4);
}
.child-list-item:hover {
    background-image: linear-gradient(to top, #2C5282, #4299e1);
}
.child-list-icon {
    margin: 0 !important;
}
.list-center {
    justify-content: center;
}