@import '~antd/dist/antd.dark.css';

[data-theme='compact'] .ant-drawer-body p {
  margin-bottom: 0;
}
.gutter-row {
    padding: 8px 0;
  }

.link-page {
    margin-top: 2%;
}
.task-page {
    margin-top: 1%;
}
.tab-space {
    padding-top: 1%;
}
.task-card {
    margin: 1%;
    width: 100%;
}
.centered {
    text-align: center;
}
.task-button {
    margin: 0;
}
.custom-collapse {
    display: flex;
    align-items: center;
}
.custom-collapse-header {
    margin: 1%;
    width: 95%;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0 !important;
 }
